body {
    background: url("2049.jpg");
    background-size: 100%;
}

.glass {
    height: 300px;
    width: 40%;
    position: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(120px);
    -webkit-backdrop-filter: blur(120px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.poppin {
    color: aliceblue;
    text-decoration: dotted;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;
    align-content: center;
}

#center-div {
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#iop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#button {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
}


.pinks {
    color: aliceblue;
    height: 30px;
    position: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 300px;
}

@media(max-width:1000px) {
    #center-div {
        width: 100%;
        height: 40%;
    }
}

#pops {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
}